*.pyc
*~
*.swp
debug.txt
*.log*
#*.csv
.idea/
training_data.csv
data/datasets/flight/
data/datasets/phonedirectory/
data/datasets/test_data/
data/datasets/train_data/
data/write_csv_datasets/
lib/__pycache__/
main/__pycache__/
search/__pycache__/
tests/__pycache__/
data/datasets/t2k/
data/write_columnmap_True/
data/write_csv_datasets_True/
data/write_columnmap_False/
data/write_csv_datasets_False/
docker/Dockerfile (copy)
docker/karma-*
data/datasets/weapons/*-copy